@import "../../assets//styles/main";

.login-wrapper {
  button {
    background-color: green;
    font-size: 14px;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px 15px;
  }
}
